.order-info {
  .wrapper {
    align-items: center;
  }
  .subheading {
    margin-top: 2rem;
  }
  .info-card {
    width: 100%;
    max-width: 31.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.875rem;
    font-weight: 500;

    &__heading-box {
      border-top-left-radius: 1.25rem;
      border-top-right-radius: 1.25rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #131213;
      padding: 0.9375rem;
      color: $yellow;
    }
    &__location {
      display: flex;
      align-items: center;
      gap: 0.625rem;

      .from {
        position: relative;
      }
      .to {
      }
    }
    &__body {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0.9375rem;
      gap: 0.625rem;
      border-right: 0.0625rem solid #000;
      border-left: 0.0625rem solid #000;
      border-bottom: 0.0625rem solid #000;
    }
    &__subheading {
      display: flex;
      align-items: center;
      gap: 0.625rem;
      font-style: italic;
      font-weight: 500;
    }
    &__receiver,
    &__sender,
    &__status,
    &__cargo {
      font-weight: bold;
    }
    &__history {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__subheading--small {
      width: 100%;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #131213;
      color: $yellow;
    }
    .history-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-right: 0.0625rem solid #000;
      border-left: 0.0625rem solid #000;
      .history-list-item {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0.9375rem;
        justify-content: space-between;
        border-bottom: 0.0625rem solid #000;
        &__date,
        &__where,
        &__status {
          width: 6.25rem;
        }

        &__status {
          font-weight: bold;
        }
      }
    }
    &__bottom {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    &__btn {
      padding: 0.3125rem 0.75rem;
      background-color: #131213;
      color: $yellow;
      text-align: center;
      outline: 0.0625rem solid #fff;
      transition: transform 0.13s;
      &:active {
        transform: translateY(0.125rem);
      }
    }
  }
}
