.fixed-header {
  position: fixed;
  z-index: 999;
  backdrop-filter: blur(6.25rem);
  left: 0;
  top: 0;
  height: 3.75rem !important;
  border-bottom: 0.0625rem solid rgba($color: #121312, $alpha: 0.2);
}

.header {
  background-color: $yellow;

  // background-color: #ffffff;
  .wrapper {
    flex-direction: row;
    align-items: center;
  }
  .top-header {
    width: 100%;
    height: 4.875rem;
    .th-nav {
      margin-left: auto;
      margin-right: 1.25rem;
      display: flex;
      align-items: center;
      gap: 1.25rem;

      .th-nav__link {
        display: flex;
        align-items: center;
        gap: 0.3125rem;
        // text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 500;
        &:hover {
          text-decoration: underline;
        }
        .md {
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }
    // .search-label {
    //   display: flex;
    //   align-items: center;
    //   gap: 0.625rem;

    //   .search-toggler {
    //     display: none;
    //     &:checked + .search-input {
    //       max-width: 12.5rem;
    //       @media (max-width: 48rem) {
    //         max-width: 8rem;
    //       }
    //     }
    //   }
    //   .search-input {
    //     width: 100vw;
    //     height: 2.1875rem;
    //     max-width: 0rem;
    //     text-indent: 0.625rem;
    //     padding: 0;
    //     border: none;
    //     border-radius: 0.625rem;
    //     transition: max-width 0.13s;
    //     font-size: 0.875rem;
    //     @media (max-width: 576px) {
    //       position: absolute;
    //       width: 100%;
    //       left: 10px;
    //       top: 96px;
    //       z-index: 999;
    //     }
    //     &:focus {
    //       max-width: 15rem;
    //       outline: none;
    //       box-shadow: 0.125rem 0.125rem 0.3125rem rgba($color: #000000, $alpha: 0.2);
    //     }
    //   }
    // }
    // .search-icon {
    //   cursor: pointer;
    //   transition: transform 0.13s;
    //   &:active {
    //     transform: translateY(0.125rem);
    //   }
    //   .md {
    //     width: 1.25rem;
    //     height: 1.25rem;
    //     transform: translateY(0.0938rem);
    //   }
    // }
  }
  .bottom-header {
    width: 100%;
    height: 3.125rem;
    border-top: 0.0625rem solid rgba(18, 18, 18, 0.15);
    border-bottom: 0.0625rem solid rgba(18, 18, 18, 0.15);
    @media (max-width: 465px) {
      height: 3.5rem;
    }
    .wrapper {
      justify-content: space-between;
      position: relative;
    }
    .nav {
      height: 100%;
      @media (max-width: 48rem) {
        width: 100%;
      }
      @media (max-width: 465px) {
        overflow-x: scroll;
      }
      .nav-list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        gap: 1.25rem;
        @media (max-width: 48rem) {
          gap: 0;
        }
        @media (max-width: 465px) {
          gap: 0.9375rem;
        }
        .nav-item {
          height: 100%;
          .nav-link.active-link {
            &:hover {
              &::after {
                transform: scaleY(1.8);
              }
            }
            &::after {
              background-color: #121212;
            }
          }
          .nav-link {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.875rem;
            font-weight: 500;
            height: 100%;
            position: relative;
            @media (max-width: 465px) {
              width: 70px;
            }
            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 0.125rem;
              left: 0;
              bottom: 0;
              background-color: transparent;
              transition: background-color 0.13s ease;
            }
            &:hover {
              &::after {
                background-color: #121212;
              }
            }
          }
        }
      }
    }
  }
}

.cabinet-header {
  .th-nav {
    &__link:hover {
      text-decoration: underline;
    }
    .home-icon {
      .md {
        width: 0.625rem;
        height: 0.625rem;
      }
    }
  }
}
