$wrapper: 1180px;
$yellow: #ffcc00;
$brandColor: #f24c21;
$ltBrandColor: rgba(242, 75, 33, 0.226);

@import "./reset.css";

@import "./fonts.css";

@import "./index.css";

* {
  box-sizing: border-box;
}

body {
  background-color: #f0f4fe;
  // filter: grayscale(1);
}

.header {
  background-color: #ffffff;
  .wrapper {
    flex-direction: row;
    align-items: center;
  }
  .top-header {
    width: 100%;
    height: 78px;
    border-bottom: 1px solid rgba($color: #000, $alpha: 0.05);
    .th-nav {
      margin-left: auto;
      margin-right: 20px;
      display: flex;
      align-items: center;
      gap: 20px;

      .th-nav__link {
        display: flex;
        align-items: center;
        gap: 5px;
        // text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 500;
        .md {
          width: 20px;
          height: 20px;
        }
      }
    }
    .search-icon {
      cursor: pointer;
      transition: transform 0.13s;
      &:active {
        transform: translateY(2px);
      }
      .md {
        width: 20px;
        height: 20px;
        transform: translateY(1.5px);
      }
    }
  }
  .bottom-header {
    width: 100%;
    height: 50px;
    .wrapper {
      justify-content: space-between;
    }
    .nav {
      width: 65%;
      height: 100%;
      .nav-list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        .nav-item {
          height: 100%;
          .nav-link.active-link {
            &:hover {
              &::after {
                transform: scaleY(1.8);
              }
            }
            &::after {
              background-color: $brandColor;
            }
          }
          .nav-link {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 500;
            height: 100%;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              left: 0;
              bottom: 0;
              background-color: transparent;
              transition: background-color 0.13s ease;
            }
            &:hover {
              &::after {
                background-color: $brandColor;
              }
            }
          }
        }
      }
    }
  }
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 10px;
  // filter: brightness(0.3);
  .logo {
    width: 50px;
  }
  .company-name {
    box-sizing: border-box;
    // color: rgba(40, 39, 37, 0.94);
    color: $brandColor;
    // font-family: Golos, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 100%;
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: $wrapper;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 15px;
}
.lang-selector {
  height: 100%;
  position: relative;
  cursor: pointer;
  &:hover {
    .md {
      transform: rotate(180deg);
    }
    .lang-menu {
      display: flex;
    }
  }
  .current-lang {
    width: 100%;
    height: 100%;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    .current-lang-name {
      font-size: 12px;
      font-weight: 500;
    }
    .md {
      width: 12px;
      height: 12px;
      transition: transform 0.13s;
    }
  }
  .lang-menu {
    z-index: 5;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
    width: 100%;
    position: absolute;
    left: 0px;
    top: 100%;
    background-color: #fff;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    .another-lang {
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 5px;
      width: 100%;
      transition: background-color 0.13s ease;
      &:hover {
        color: #fff;
        background-color: $brandColor;
        box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.4);
      }
      .another-lang-name {
        font-size: 12px;
        display: flex;
      }
    }
  }
  .active-lang {
    // background-color: $brandColor;
    background-color: rgba($color: $brandColor, $alpha: 0.8);
    transition: box-shadow 0.13s ease;
    color: #fff;
    font-weight: 500;
  }
}

.lang-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}

.ru-icon {
  background-image: url(../assets/icons/ru-icon.png);
}
.en-icon {
  background-image: url(../assets/icons/en-icon.png);
}

.promo {
  width: 100%;
  width: 100%;
  height: 600px;
  background-image: url(https://phonoteka.org/uploads/posts/2022-07/1658262446_21-phonoteka-org-p-oboi-furi-24.jpg);
  background-size: 100%;
  background-position: center;
  position: relative;
  .wrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    position: relative;
  }
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(213deg, rgba(242, 75, 33, 0.63) 0%, rgba(62, 36, 36, 0) 100%);
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(30deg, rgba(33, 71, 242, 0.568) 0%, rgba(62, 36, 36, 0) 100%);
  }
}

.calculator {
  z-index: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  .calculator-heading {
    max-width: 450px;
    box-sizing: border-box;
    color: rgba(40, 39, 37, 0.94);
    font-family: Golos, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    list-style: outside none none;
    margin: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
    .calculator-heading--brand {
      color: $brandColor;
      // font-weight: 800;
      // font-style: italic;
    }
  }
  .calculator-form {
    width: min-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .calculator-btn {
      width: 100%;
      padding: 20px 0;
      background-color: $brandColor;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: transform 0.13s;
      &:hover {
        backdrop-filter: blur(10px);
      }
      &:active {
        transform: translateY(2px);
      }
    }
    .docs-input {
      width: 100% !important ;
    }
    .input {
      width: 25%;
      text-align: left;
      background: #ffffff;
      border: 1px solid #e6eaed;
      border-radius: 4px;
      height: 50px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
      padding-right: 10px;
      transition: outline 0.2s;
      outline: 1px solid transparent;

      &:focus {
        outline: 1px solid $brandColor;
      }
    }
    .row {
      width: 100%;
      display: flex;
      gap: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba($color: $brandColor, $alpha: 0.2);
    }
    .col {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      &:not(:last-child) {
        padding-right: 20px;
        border-right: 1px solid rgba($color: $brandColor, $alpha: 0.2);
      }
      .col-heading {
        font-weight: 500;
        margin-bottom: 10px;
      }
    }
    .select {
      border: none;
      appearance: none;
      padding: 5px 10px;
      &:focus {
        outline: none;
      }
    }
    .radio-label {
      width: 100%;
      justify-content: space-between;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 13px;
      cursor: pointer;
      filter: hue-rotate(180deg);
      .col-heading {
        margin: 0;
      }
      input {
        margin: 0;
      }
    }
  }
}

.dropdown {
  width: 100vw;
  max-width: 200px;
  position: relative;
  .md {
    position: absolute;
    right: 5px;
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
    transition: transform 0.13s;
    color: $brandColor;
    z-index: 2;
  }
  &__button {
    z-index: 3;
    &:focus {
      outline: 1px solid $brandColor;
    }
    position: relative;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 18px;
    color: #444444;
    width: 100%;
    text-align: left;
    background: transparent;
    border: 1px solid #e6eaed;
    border-radius: 4px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 40px;
    transition: outline 0.13s ease;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 15px;
      height: 15px;
      background: url("../img/dropdown.svg") 100% 100%;
      pointer-events: none;
      transition: 200ms ease;
    }
    &_active {
      &::after {
        transform: translateY(-50%) rotate(-180deg);
      }
    }
  }
  &__list {
    z-index: 3;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    left: 0;
    top: 50px;
    box-shadow: 0px 10px 20px 0px #88919d4d;
    border: 1px solid #e6eaed;
    border-radius: 4px;
    background: #ffffff;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 200ms ease;
    &_visible {
      opacity: 1;
      z-index: 999;

      background-color: #fff;
      visibility: visible;
      & + input + .md {
        transform: rotate(180deg);
      }
    }
    &-item {
      margin: 0;
      padding: 0;
      padding: 15px;
      cursor: pointer;
      font-size: 12px;
      line-height: 18px;
      color: #444444;
      transition: 200ms ease;
      &_active {
        background: #f5f8fa;
      }
      &:hover {
        background: #f5f8fa90;
      }
    }
  }
  &__input {
    &_hidden {
      display: none;
    }
  }
}

.results {
  width: 100%;
  background-color: #fff;
  z-index: 33;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .results-heading {
    font-weight: 500;
    margin-bottom: 10px;
  }
  .results-list {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
    .result-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px 0px;
      border-bottom: 1px solid $brandColor;
      position: relative;
      .question-icon {
        position: absolute;
        right: 0;
        top: 0;
        .help-icon {
          * {
            width: 15px;
            height: 15px;
          }
        }
        &:hover .popup-question {
          display: block;
        }
        .md {
          width: 15px;
          height: 15px;
        }
      }
      .popup-question {
        display: none;
        position: absolute;
        background-color: rgba($color: $brandColor, $alpha: 0);
        padding: 10px;
        font-weight: bold;
        border-radius: 20px;
        font-size: 12px;
        backdrop-filter: blur(40px);
        left: 0;
      }
      .result-content {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;
        font-weight: 500;
        margin-right: auto;
        .rank {
          color: $brandColor;
          width: 25px;
          height: 25px;
          padding: 10px;

          background-color: #fff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          outline: 1px solid $brandColor;
        }
        .price {
          font-weight: 600;
          color: $brandColor;
        }
        .date {
          border-right: 1px solid $brandColor;
          border-left: 1px solid $brandColor;
          padding: 0px 10px;
        }
      }
      .results-btn {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
        padding: 5px 15px;
        border-radius: 10px;
        color: #fff;
        transition: transform 0.13s, color 0.13s, background-color 0.13s;
        outline: 1px solid $brandColor;
        color: $brandColor;
        background-color: #fff;
        cursor: pointer;
        &:hover {
          color: #fff;
          background-color: $brandColor;
        }
        &:focus {
          outline: 1px solid black;
        }
        &:active {
          transform: translateY(2px);
        }
      }
    }
  }
}

.hidden {
  display: none;
}

section {
  margin-bottom: 80px;
}
.subheading {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 700;
  // text-transform: uppercase;
}

.offers {
  .swiper {
    width: 100%;
    height: 400px;
    .swiper-slide {
      transition: transform 0.13s;
    }
    .swiper-slide:hover {
      transform: scale(0.95);
    }
    .swiper-pagination {
      * {
        background-color: $brandColor;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      color: $brandColor;
    }
    .swiper-card {
      width: 100%;
      display: flex;
      align-items: center;

      flex-direction: column;
      gap: 10px;
      text-align: center;
      backdrop-filter: blur(40px);
      .swiper-card-content {
        display: flex;
        align-items: center;

        flex-direction: column;
        gap: 10px;
        padding: 5px;
      }
      .swiper-card-heading {
        font-size: 18px;

        font-weight: 500;
      }
      .swiper-card-text {
        font-size: 14px;
        align-self: start;
        text-align: left;
      }
      .swiper-img {
        width: 100%;
        height: 240px;
        object-fit: cover;
      }
    }
  }
}

.offers-list {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  // justify-content: space-between;
  gap: 55px;

  .offer-item {
    width: 30%;
    transition: box-shadow 0.13s, transform 0.13s;
    &:hover {
      transform: scale(1.01);
      box-shadow: 1px 1px 9px rgba($color: #000000, $alpha: 0.3);
    }
    .offer-content {
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      .offer-heading {
        font-size: 18px;

        font-weight: 500;
        align-self: center;
      }
      .offer-text {
        font-size: 14px;
        align-self: start;
        text-align: left;
      }
    }
    .offer-img {
      width: 100%;
      height: 240px;
      object-fit: cover;
      object-position: center;
    }
  }
}

.special {
  width: 100%;
  height: 350px;
  background-color: $brandColor;
  box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.4) inset;
  .wrapper {
    align-items: center;
    justify-content: center;
  }
  .special-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .special-item {
      width: 100%;
      max-width: 267px;
      max-height: 400px;
      margin-bottom: auto;
      border-radius: 50%;
      text-align: center;
      color: #fff;
      .special-heading {
        font-size: 28px;
        margin-bottom: 20px;
      }
      .special-text {
        font-size: 14px;
      }
      .special-icon {
        .md {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

.about {
  .text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    .text {
      font-size: 16px;
      font-weight: 500;
      line-height: 100%;
    }
    .text-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      padding-left: 40px;
      .text-item {
        font-size: 16px;
        font-style: italic;
        font-weight: 500;
        position: relative;
        &::after {
          content: "";
          width: 10px;
          height: 10px;
          background-color: $brandColor;
          border-radius: 50%;
          position: absolute;
          left: -20px;
          top: 2.5px;
        }
      }
    }
  }
}

.footer {
  background-color: #121212;
  padding: 50px 0px;
  position: relative;
  .top-footer {
    .wrapper {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px solid rgba($color: $brandColor, $alpha: 0.2);
      padding-bottom: 20px;
      .logo-link {
        padding-right: 20px;
        border-right: 2px solid rgba($color: $brandColor, $alpha: 0.2);
      }

      .tel-link {
        color: $brandColor;
        font-size: 18px;
      }
    }
  }
  .bottom-footer {
    .wrapper {
      flex-direction: row;
      // gap: 40px;
      justify-content: space-between;
      padding-top: 20px;

      .col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        .col-heading {
          font-weight: bold;
          font-size: 16px;
          color: #fff;
          padding-bottom: 10px;
          border-bottom: 1px solid $brandColor;
        }
        .footer-nav {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
          .nav-link {
            color: #868c98;
            font-size: 14px;
            transition: color 0.13s;
            &:hover {
              color: #fff;
            }
          }
        }
        .socials {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 10px;
          .md {
            width: 20px;
            height: 20px;
            color: #fff;
            transition: color 0.13s, transform 0.13s;
            &:hover {
              color: $brandColor;
            }
            &:active {
              transform: translateY(2px);
            }
          }
        }
      }
      .contacts-col {
        align-items: flex-end;
      }
    }
  }
  .copyrights {
    width: 100%;
    height: 40px;
    position: absolute;
    .wrapper {
      align-items: center;
      justify-content: center;
      font-size: 12px;
      color: #fff;
    }
  }
}

.newsletter-form {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  // padding: 15px;
  overflow: hidden;
  border-radius: 15px;
  input {
    background: none;
    border: none;
    padding-left: 20px;
    font-weight: 500;
    &:focus {
      outline: none;
    }
  }
  button {
    border: none;
    width: 40px;
    height: 40px;
    background: $brandColor;
    transition: transform 0.13s;
    cursor: pointer;
    &:active {
      transform: scale(0.95);
    }
    .md {
      width: 20px;
      height: 20px;
      color: #fff;
    }
  }
}
