@charset "UTF-8";
@import "./reset.css";
@import "../assets/fonts/Kinetika/stylesheet.css";
@import "./index.css";
body {
  font-family: "Kinetika", sans-serif;
}

/* Виджет назначает height: 100% , что может привести к непредксказуемому результату, если вы этого не планровали */
html {
  height: auto !important;
}

/* Фиксируем позицию body, которую меняет панель гугла */
body {
  top: 0 !important;
  position: static !important;
}

/* Прячем панель гугла */
.skiptranslate {
  display: none !important;
}

/* Убираем подсветку ссылок */
.goog-text-highlight {
  background-color: inherit;
  box-shadow: none;
  box-sizing: inherit;
}

/* language */
.language {
  position: fixed;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.language__img {
  margin: 2px;
  cursor: pointer;
  opacity: 0.5;
}

.language__img:hover,
.language__img_active {
  opacity: 1;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f0f4fe;
}

section {
  margin-bottom: 5rem;
}

.arrow-up {
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 2rem;
  bottom: 2rem;
  cursor: pointer;
  z-index: 99999;
  transition: transform 0.13s;
}
.arrow-up:hover {
  transform: scale(1.05);
}
.arrow-up:active {
  transform: translateY(0.1875rem);
}
.arrow-up .md {
  transform: translateY(0.0625rem);
  width: 1.875rem;
  height: 1.875rem;
}
@media (max-width: 1024px) {
  .arrow-up {
    width: 2rem;
    height: 2rem;
    bottom: 0.8rem;
    right: 0.8rem;
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0.9375rem;
}

.fixed-header {
  position: fixed;
  z-index: 999;
  -webkit-backdrop-filter: blur(6.25rem);
          backdrop-filter: blur(6.25rem);
  left: 0;
  top: 0;
  height: 3.75rem !important;
  border-bottom: 0.0625rem solid rgba(18, 19, 18, 0.2);
}

.header {
  background-color: #ffcc00;
}
.header .wrapper {
  flex-direction: row;
  align-items: center;
}
.header .top-header {
  width: 100%;
  height: 4.875rem;
}
.header .top-header .th-nav {
  margin-left: auto;
  margin-right: 1.25rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.header .top-header .th-nav .th-nav__link {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  font-size: 0.8rem;
  font-weight: 500;
}
.header .top-header .th-nav .th-nav__link:hover {
  text-decoration: underline;
}
.header .top-header .th-nav .th-nav__link .md {
  width: 1.25rem;
  height: 1.25rem;
}
.header .bottom-header {
  width: 100%;
  height: 3.125rem;
  border-top: 0.0625rem solid rgba(18, 18, 18, 0.15);
  border-bottom: 0.0625rem solid rgba(18, 18, 18, 0.15);
}
@media (max-width: 465px) {
  .header .bottom-header {
    height: 3.5rem;
  }
}
.header .bottom-header .wrapper {
  justify-content: space-between;
  position: relative;
}
.header .bottom-header .nav {
  height: 100%;
}
@media (max-width: 48rem) {
  .header .bottom-header .nav {
    width: 100%;
  }
}
@media (max-width: 465px) {
  .header .bottom-header .nav {
    overflow-x: scroll;
  }
}
.header .bottom-header .nav .nav-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 1.25rem;
}
@media (max-width: 48rem) {
  .header .bottom-header .nav .nav-list {
    gap: 0;
  }
}
@media (max-width: 465px) {
  .header .bottom-header .nav .nav-list {
    gap: 0.9375rem;
  }
}
.header .bottom-header .nav .nav-list .nav-item {
  height: 100%;
}
.header .bottom-header .nav .nav-list .nav-item .nav-link.active-link:hover::after {
  transform: scaleY(1.8);
}
.header .bottom-header .nav .nav-list .nav-item .nav-link.active-link::after {
  background-color: #121212;
}
.header .bottom-header .nav .nav-list .nav-item .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-weight: 500;
  height: 100%;
  position: relative;
}
@media (max-width: 465px) {
  .header .bottom-header .nav .nav-list .nav-item .nav-link {
    width: 70px;
  }
}
.header .bottom-header .nav .nav-list .nav-item .nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem;
  left: 0;
  bottom: 0;
  background-color: transparent;
  transition: background-color 0.13s ease;
}
.header .bottom-header .nav .nav-list .nav-item .nav-link:hover::after {
  background-color: #121212;
}

.cabinet-header .th-nav__link:hover {
  text-decoration: underline;
}
.cabinet-header .th-nav .home-icon .md {
  width: 0.625rem;
  height: 0.625rem;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.logo-link .logo {
  width: 50px;
  filter: brightness(0);
}
.logo-link .company-name {
  box-sizing: border-box;
  color: #121212;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 100%;
}

.lang-selector {
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: 999;
}
@media (max-width: 768px) {
  .lang-selector {
    position: absolute;
    height: 3rem;
    right: 0;
    background-color: #ffcc00;
    color: #131213;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    top: 100%;
  }
}
.lang-selector:hover .md {
  transform: rotate(180deg);
}
.lang-selector:hover .lang-menu {
  display: flex;
}
.lang-selector .current-lang {
  width: 100%;
  height: 100%;
  padding: 0rem 0.3125rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.lang-selector .current-lang .current-lang-name {
  font-size: 0.75rem;
  font-weight: 500;
}
.lang-selector .current-lang .md {
  width: 0.75rem;
  height: 0.75rem;
  transition: transform 0.13s;
}
.lang-selector .lang-menu {
  z-index: 5;
  width: 100%;
  position: absolute;
  left: 0rem;
  top: 100%;
  background-color: rgba(18, 19, 18, 0.25);
  display: none;
  flex-direction: column;
  align-items: flex-start;
}
.lang-selector .lang-menu .another-lang {
  padding: 0.625rem;
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  width: 100%;
  transition: background-color 0.13s ease;
  color: #fff;
}
.lang-selector .lang-menu .another-lang:hover {
  color: #fff;
  background-color: #121312;
  box-shadow: 0.0625rem 0.0625rem 0.3125rem rgba(0, 0, 0, 0.4);
}
.lang-selector .lang-menu .another-lang .another-lang-name {
  font-size: 0.75rem;
  display: flex;
}
.lang-selector .active-lang {
  transition: box-shadow 0.13s ease;
  color: #121312;
  font-weight: 500;
}

.lang-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}

.ru-icon {
  background-image: url(../assets/icons/ru-icon.png);
}

.en-icon {
  background-image: url(../assets/icons/en-icon.png);
}

.promo {
  width: 100%;
  width: 100%;
  padding: 2.5rem 0px;
  min-height: 37.5rem;
  background-image: url(https://phonoteka.org/uploads/posts/2022-07/1658262446_21-phonoteka-org-p-oboi-furi-24.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .promo {
    padding-top: 4.25rem;
  }
}
.promo .wrapper {
  flex-direction: row;
  justify-content: space-between;
  gap: 1.25rem;
  align-items: center;
  position: relative;
}
.promo::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #ffcc00 100%);
}
.promo::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 20%, rgb(255, 204, 0) 100%);
}

.calculator {
  z-index: 1;
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 0.9375rem;
}
.calculator .error {
  outline: 1px solid red !important;
  box-shadow: 1px 1px 5px rgba(242, 76, 33, 0.25);
}
.calculator .calculator-heading {
  max-width: 28.125rem;
  box-sizing: border-box;
  color: rgba(40, 39, 37, 0.94);
  font-family: Golos, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.875rem;
  list-style: outside none none;
  margin: 0;
  padding-bottom: 0;
  margin-bottom: 1.25rem;
}
.calculator .calculator-heading .calculator-heading--brand {
  color: #f24c21;
}
.calculator .calculator-form {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.calculator .calculator-form .calculator-btn {
  width: 100%;
  padding: 1.25rem 0;
  background-color: #ffcc00;
  color: #121212;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: transform 0.13s, background-color 0.13s;
}
.calculator .calculator-form .calculator-btn:hover {
  background-color: transparent;
  outline: 0.0625rem solid #ffcc00;
}
.calculator .calculator-form .calculator-btn:active {
  transform: translateY(0.125rem);
}
.calculator .calculator-form .docs-input {
  width: 100% !important;
}
.calculator .calculator-form .input {
  width: 25%;
  text-align: left;
  background: #ffffff;
  border: 0.0625rem solid #e6eaed;
  border-radius: 0.25rem;
  height: 3.125rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  padding-left: 0.3125rem;
  padding-right: 0.625rem;
  transition: outline 0.2s;
  font-size: 0.875rem;
  outline: 0.0625rem solid transparent;
}
.calculator .calculator-form .input:focus {
  outline: 0.0625rem solid #f24c21;
}
.calculator .calculator-form .row {
  width: 100%;
  display: flex;
  gap: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 0.0625rem solid rgba(242, 76, 33, 0.2);
}
.calculator .calculator-form .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
}
.calculator .calculator-form .col:not(:last-child) {
  padding-right: 1.25rem;
  border-right: 0.0625rem solid rgba(242, 76, 33, 0.2);
}
.calculator .calculator-form .col .col-heading {
  font-weight: 500;
  margin-bottom: 0.625rem;
}
.calculator .calculator-form .select {
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0.3125rem 0.625rem;
}
.calculator .calculator-form .select:focus {
  outline: none;
}
.calculator .calculator-form .labels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}
@media (max-width: 465px) {
  .calculator .calculator-form .labels {
    flex-direction: row;
  }
}
.calculator .calculator-form .radio-label {
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: 0.8125rem;
  cursor: pointer;
  filter: hue-rotate(180deg);
}
.calculator .calculator-form .radio-label .col-heading {
  margin: 0;
}
.calculator .calculator-form .radio-label input {
  margin: 0;
}

.dropdown {
  width: 100vw;
  max-width: 12.5rem;
  position: relative;
}
.dropdown .md {
  position: absolute;
  right: 0.3125rem;
  top: calc(50% - 0.625rem);
  width: 1.25rem;
  height: 1.25rem;
  transition: transform 0.13s;
  color: #f24c21;
  z-index: 2;
}
.dropdown__button {
  z-index: 3;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: #444444;
  width: 100%;
  text-align: left;
  background: transparent;
  border: 0.0625rem solid #e6eaed;
  border-radius: 0.25rem;
  height: 3.125rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 0.9375rem;
  padding-right: 2.5rem;
  transition: outline 0.13s ease;
  cursor: pointer;
}
.dropdown__button:focus {
  outline: 0.0625rem solid #f24c21;
}
.dropdown__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.9375rem;
  transform: translateY(-50%);
  width: 0.9375rem;
  height: 0.9375rem;
  background: url("../img/dropdown.svg") 100% 100%;
  pointer-events: none;
  transition: 200ms ease;
}
.dropdown__button_active::after {
  transform: translateY(-50%) rotate(-180deg);
}
.dropdown__list {
  z-index: 3;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  left: 0;
  top: 3.125rem;
  box-shadow: 0rem 0.625rem 1.25rem 0rem rgba(136, 145, 157, 0.3019607843);
  border: 0.0625rem solid #e6eaed;
  border-radius: 0.25rem;
  background: #ffffff;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 200ms ease;
}
.dropdown__list_visible {
  opacity: 1;
  z-index: 999;
  background-color: #fff;
  visibility: visible;
}
.dropdown__list_visible + input + .md {
  transform: rotate(180deg);
}
.dropdown__list-item {
  margin: 0;
  padding: 0;
  padding: 0.9375rem;
  cursor: pointer;
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: #444444;
  transition: 200ms ease;
}
.dropdown__list-item_active {
  background: #f5f8fa;
}
.dropdown__list-item:hover {
  background: rgba(245, 248, 250, 0.5647058824);
}
.dropdown__input_hidden {
  display: none;
}

.results {
  width: 100%;
  max-width: 38.75rem;
  background-color: #fff;
  z-index: 33;
  border-radius: 0.9375rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.results-heading {
  font-weight: 500;
  margin-bottom: 0.625rem;
}
.results-list {
  width: 100%;
  display: flex;
  gap: 0.625rem;
  flex-direction: column;
  align-items: flex-start;
}
.results-list .result-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3125rem 0rem;
  border-bottom: 0.0625rem solid #121212;
  position: relative;
}
.results-list .result-item .question-icon {
  position: absolute;
  right: 0;
  top: 0;
}
.results-list .result-item .question-icon .help-icon * {
  width: 0.9375rem;
  height: 0.9375rem;
}
.results-list .result-item .question-icon:hover .popup-question {
  display: block;
}
.results-list .result-item .question-icon .md {
  width: 0.9375rem;
  height: 0.9375rem;
}
.results-list .result-item .popup-question {
  display: none;
  position: absolute;
  background-color: rgba(242, 76, 33, 0);
  padding: 0.625rem;
  font-weight: bold;
  border-radius: 1.25rem;
  font-size: 0.75rem;
  -webkit-backdrop-filter: blur(2.5rem);
          backdrop-filter: blur(2.5rem);
  left: 0;
}
@media (max-width: 768px) {
  .results-list .result-item .popup-question {
    left: -103px;
    top: -31px;
  }
}
.results-list .result-item .result-content {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: 0.875rem;
  font-weight: 500;
  margin-right: auto;
}
.results-list .result-item .result-content .rank {
  color: #f24c21;
  width: 1.5625rem;
  height: 1.5625rem;
  padding: 0.625rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0.0625rem solid #f24c21;
}
.results-list .result-item .result-content .price {
  font-weight: 600;
  color: #f24c21;
}
.results-list .result-item .result-content .date {
  border-right: 0.0625rem solid #f24c21;
  border-left: 0.0625rem solid #f24c21;
  padding: 0rem 0.625rem;
}
.results-list .result-item .results-btn {
  width: 100%;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  border: none;
  padding: 0.3125rem 0.9375rem;
  border-radius: 0.625rem;
  color: #131213;
  transition: transform 0.13s, color 0.13s, background-color 0.13s;
  outline: 0.0625rem solid #ffcc00;
  background-color: #fff;
  cursor: pointer;
  text-align: center;
}
@media (max-width: 465px) {
  .results-list .result-item .results-btn {
    padding: 0.8rem 0.9rem;
  }
}
.results-list .result-item .results-btn:hover {
  color: #121212;
  background-color: #ffcc00;
  outline: none;
}
.results-list .result-item .results-btn:focus {
  outline: 0.0625rem solid black;
}
.results-list .result-item .results-btn:active {
  transform: translateY(0.125rem);
}

.hidden {
  display: none;
}

.subheading {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: 700;
}

.offers .swiper {
  width: 100%;
  height: 40.625rem;
}
.offers .swiper .swiper-pagination * {
  background-color: #121212;
}
.offers .swiper .swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
}
.offers .swiper .swiper-button-prev,
.offers .swiper .swiper-button-next {
  color: #fff;
  background-color: #121312;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: transform 0.13s;
}
.offers .swiper .swiper-button-prev::after,
.offers .swiper .swiper-button-next::after {
  font-size: 0.8rem;
}
.offers .swiper .swiper-button-prev:active,
.offers .swiper .swiper-button-next:active {
  transform: translateY(0.125rem);
}
.offers .swiper .swiper-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.625rem;
  text-align: center;
  -webkit-backdrop-filter: blur(2.5rem);
          backdrop-filter: blur(2.5rem);
}
.offers .swiper .swiper-card .swiper-card-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.625rem;
  padding: 0.3125rem;
}
.offers .swiper .swiper-card .swiper-card-heading {
  font-size: 1.125rem;
  font-weight: 500;
}
.offers .swiper .swiper-card .swiper-card-text {
  font-size: 0.875rem;
  align-self: start;
  text-align: left;
}
.offers .swiper .swiper-card .swiper-img {
  width: 100%;
  height: 31.25rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.special {
  width: 100%;
  min-height: 21.875rem;
  background-color: #ffcc00;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.4) inset;
}
.special .wrapper {
  align-items: center;
  justify-content: center;
}
.special .special-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .special .special-list {
    gap: 5rem;
    padding: 3rem 0px;
    flex-direction: column;
  }
}
.special .special-list .special-item {
  width: 100%;
  max-width: 16.6875rem;
  max-height: 25rem;
  margin-bottom: auto;
  border-radius: 50%;
  text-align: center;
  color: #121212;
}
.special .special-list .special-item .special-heading {
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
}
.special .special-list .special-item .special-text {
  font-size: 0.875rem;
}
.special .special-list .special-item .special-icon .md {
  width: 3rem;
  height: 3rem;
}

.about .text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}
.about .text-content .text {
  font-size: 1rem;
  font-weight: 500;
  line-height: 100%;
}
.about .text-content .text-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  padding-left: 2.5rem;
}
.about .text-content .text-list .text-item {
  font-size: 1rem;
  font-style: italic;
  font-weight: 500;
  position: relative;
}
.about .text-content .text-list .text-item::after {
  content: "";
  width: 0.625rem;
  height: 0.625rem;
  background-color: #ffcc00;
  border-radius: 50%;
  position: absolute;
  left: -1.25rem;
  top: 0.1563rem;
}

.footer {
  background-color: #121212;
  padding: 3.125rem 0rem;
  position: relative;
}
.footer .top-footer .wrapper {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.125rem solid rgba(255, 255, 255, 0.5);
  padding-bottom: 1.25rem;
}
.footer .top-footer .wrapper .logo-link {
  padding-right: 1.25rem;
  border-right: 0.125rem solid rgba(255, 255, 255, 0.5);
}
.footer .top-footer .wrapper .logo-link .logo {
  filter: brightness(300);
}
.footer .top-footer .wrapper .logo-link .company-name {
  color: #fff;
}
.footer .top-footer .wrapper .tel-link {
  color: #fff;
  font-size: 1.125rem;
}
.footer .bottom-footer .wrapper {
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.25rem;
}
.footer .bottom-footer .wrapper .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}
.footer .bottom-footer .wrapper .col .col-heading {
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
  padding-bottom: 0.625rem;
  border-bottom: 0.0625rem solid #ffcc00;
}
.footer .bottom-footer .wrapper .col .footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}
.footer .bottom-footer .wrapper .col .footer-nav .nav-link {
  color: #868c98;
  font-size: 0.875rem;
  transition: color 0.13s;
}
.footer .bottom-footer .wrapper .col .footer-nav .nav-link:hover {
  color: #ffcc00;
}
.footer .bottom-footer .wrapper .col .socials {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.625rem;
}
.footer .bottom-footer .wrapper .col .socials .md {
  width: 1.25rem;
  height: 1.25rem;
  color: #fff;
  transition: color 0.13s, transform 0.13s;
}
.footer .bottom-footer .wrapper .col .socials .md:hover {
  color: #ffcc00;
}
.footer .bottom-footer .wrapper .col .socials .md:active {
  transform: translateY(0.125rem);
}
.footer .bottom-footer .wrapper .contacts-col {
  align-items: flex-end;
}
.footer .copyrights {
  width: 100%;
  position: absolute;
  bottom: 0.625rem;
}
.footer .copyrights .wrapper {
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  color: #fff;
}

.newsletter-form {
  display: flex;
  height: 2rem;
  align-items: center;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 0.9375rem;
}
.newsletter-form input {
  background: none;
  border: none;
  padding-left: 1.25rem;
  font-weight: 500;
  font-size: 0.75rem;
}
.newsletter-form input:focus {
  outline: none;
}
.newsletter-form button {
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  background: #ffcc00;
  transition: transform 0.13s;
  cursor: pointer;
}
.newsletter-form button:active {
  transform: scale(0.95);
}
.newsletter-form button .md {
  width: 1.25rem;
  height: 1.25rem;
  color: #fff;
}

.sign-in-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.sign-in-container .sign-in-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  filter: brightness(0);
}
.sign-in-container .back-link {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  font-size: 0.75rem;
  transition: color 0.13s;
}
.sign-in-container .back-link:hover {
  color: #ffcc00;
}
.sign-in-container .back-link:hover .md {
  color: #ffcc00;
}
.sign-in-container .back-link .md {
  transition: color 0.13s;
  transform: translateY(0.0625rem);
}

.sign-in-form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 43.75rem;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .sign-in-form {
    flex-direction: column-reverse;
    gap: 50px;
  }
}
.sign-in-form .form-content {
  width: 18.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.75rem;
}
.sign-in-form .form-content .input {
  width: 100%;
  padding: 0.5rem 0.9375rem;
  border: none;
  background: none;
  border-bottom: 0.0625rem solid rgba(18, 19, 18, 0.3882352941);
  transition: border-color 0.13s;
  font-size: 0.75rem;
  font-weight: 500;
  color: #121312;
}
.sign-in-form .form-content .input:focus {
  outline: none;
  border-color: #ffcc00;
}
.sign-in-form .label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3125rem;
  font-size: 0.875rem;
  font-weight: 500;
}
.sign-in-form .sign-in-btn {
  width: 100%;
  background-color: #ffcc00;
  border: none;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.625rem;
  color: #131213;
  cursor: pointer;
  transition: background-color 0.13s;
}
.sign-in-form .sign-in-btn:hover {
  background-color: transparent;
  outline: 0.0625rem solid #ffcc00;
}
.sign-in-form .sign-in-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sign-in-form .sign-in-menu .sign-up-link,
.sign-in-form .sign-in-menu .forgot-link {
  font-size: 0.8125rem;
  transition: color 0.13s;
  color: rgba(18, 18, 18, 0.5);
}
.sign-in-form .sign-in-menu .sign-up-link:hover,
.sign-in-form .sign-in-menu .forgot-link:hover {
  color: #131213;
}

.cabinet {
  margin-top: 2.5rem;
}
@media (max-width: 375px) {
  .cabinet .wrapper {
    padding: 0 2px;
  }
}
.cabinet .row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cabinet .bank {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.cabinet .bank__money {
  font-weight: 600;
}
.cabinet .bank__currency {
  font-style: italic;
}
.cabinet .wrapper {
  flex-direction: column;
  align-items: flex-start;
}
.cabinet .profile {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  align-self: end;
}
.cabinet .profile .avatar .md {
  width: 3.125rem;
  height: 3.125rem;
}
.cabinet .profile .avatar .avatar-img {
  width: 2.5rem;
  height: 2.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}
.cabinet .profile .name {
  font-weight: 500;
  color: #131213;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-decoration: underline;
}
.cabinet .menu {
  margin: 1.875rem 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  flex-wrap: wrap;
}
.cabinet .menu__btn {
  padding: 0.75rem 0.9375rem;
  background-color: #ffcc00;
  border-radius: 0.3125rem;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 100%;
  cursor: pointer;
  transition: color 0.13s, background-color 0.13s, transform 0.13s;
}
.cabinet .menu__btn:hover {
  background-color: #121312;
  color: #fff;
}
.cabinet .menu__btn:active {
  transform: translateY(0.125rem);
}
.cabinet .table {
  width: 100%;
}
.cabinet .table .row:nth-child(even) {
  background-color: rgba(255, 204, 0, 0.09);
}
.cabinet .table .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.cabinet .table .thead {
  width: 100%;
  background-color: rgba(255, 204, 0, 0.3);
  border-bottom: 0.25rem solid #131213;
}
.cabinet .table .td {
  width: 100vw;
  max-width: 20%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 500;
  outline: 0.0625rem solid #ffcc00;
  text-align: center;
}
@media (max-width: 320px) {
  .cabinet .table .td {
    line-height: 65%;
  }
}
.cabinet .table .td:hover {
  background-color: rgba(255, 204, 0, 0.2);
}
.cabinet .table .td .show-more-link {
  text-decoration: underline;
}

.mobile-hidden {
  display: none !important;
}

@media (max-width: 389px) {
  .cabinet-header .company-name {
    display: none;
  }
}

.loader {
  width: 40px;
  height: 40px;
  margin-right: 10%;
  border: 5px solid #131213;
  border-bottom-color: #ffcc00;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: rotation 1s linear infinite;
          animation: rotation 1s linear infinite;
}
@media (max-width: 1024px) {
  .loader {
    margin: 0 auto;
  }
}

@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hidden-loader {
  display: none;
}

@media (max-width: 1280px) {
  .promo .wrapper {
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 11px;
  }
}
@media (max-width: 465px) {
  .calculator .calculator-form {
    width: 100%;
  }
  .calculator .calculator-form .row {
    gap: 2rem;
  }
  .calculator .calculator-form .row:first-child {
    width: 100%;
    flex-wrap: wrap;
  }
  .calculator .calculator-form .col {
    width: 100%;
  }
  .calculator .calculator-form .col .dropdown {
    width: 100%;
    max-width: 100%;
  }
  .calculator .calculator-form .dropdown {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */