$wrapper: 1400px;
$yellow: #ffcc00;
$brandColor: #f24c21;
$ltBrandColor: rgba(242, 75, 33, 0.226);

@import "./reset.css";

@import "./_fonts.scss";

@import "./_translate.scss";

@import "./index.css";

* {
  box-sizing: border-box;
}

body {
  background-color: #f0f4fe;
  // background-color: $yellow;
  // filter: grayscale(1);
}

section {
  margin-bottom: 5rem;
}

.arrow-up {
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 2rem;
  bottom: 2rem;
  cursor: pointer;
  z-index: 99999;
  transition: transform 0.13s;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: translateY(0.1875rem);
  }
  .md {
    transform: translateY(0.0625rem);
    width: 1.875rem;
    height: 1.875rem;
  }
  @media (max-width: 1024px) {
    width: 2rem;
    height: 2rem;
    bottom: 0.8rem;
    right: 0.8rem;
  }
}

// Wrapper

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: $wrapper;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0.9375rem;
}

// Header

@import "./ui/header.scss";

// Logo

@import "./ui/logo.scss";

// Lang

@import "./ui/lang.scss";

// Icons

@import "./icons/icons";

// Promo

@import "./pages/main/promo.scss";

.calculator {
  z-index: 1;
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 0.9375rem;

  .error {
    outline: 1px solid red !important;
    box-shadow: 1px 1px 5px rgba($color: $brandColor, $alpha: 0.25);
  }

  .calculator-heading {
    max-width: 28.125rem;
    box-sizing: border-box;
    color: rgba(40, 39, 37, 0.94);
    font-family: Golos, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.875rem;
    list-style: outside none none;
    margin: 0;
    padding-bottom: 0;
    margin-bottom: 1.25rem;
    .calculator-heading--brand {
      color: $brandColor;
      // font-weight: 800;
      // font-style: italic;
    }
  }
  .calculator-form {
    width: min-content;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    .calculator-btn {
      width: 100%;
      padding: 1.25rem 0;
      background-color: $yellow;
      color: #121212;
      font-size: 0.8rem;
      font-weight: 700;
      line-height: 100%;
      text-transform: uppercase;
      border: none;
      border-radius: 0.3125rem;
      cursor: pointer;
      transition: transform 0.13s, background-color 0.13s;
      &:hover {
        background-color: transparent;
        outline: 0.0625rem solid $yellow;
      }
      &:active {
        transform: translateY(0.125rem);
      }
    }
    .docs-input {
      width: 100% !important ;
    }
    .input {
      width: 25%;
      text-align: left;
      background: #ffffff;
      border: 0.0625rem solid #e6eaed;
      border-radius: 0.25rem;
      height: 3.125rem;
      padding-top: 0.3125rem;
      padding-bottom: 0.3125rem;
      padding-left: 0.3125rem;
      padding-right: 0.625rem;
      transition: outline 0.2s;
      font-size: 0.875rem;
      outline: 0.0625rem solid transparent;

      &:focus {
        outline: 0.0625rem solid $brandColor;
      }
    }
    .row {
      width: 100%;
      display: flex;
      gap: 1.25rem;
      padding-bottom: 1.25rem;
      border-bottom: 0.0625rem solid rgba($color: $brandColor, $alpha: 0.2);
    }
    .col {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.625rem;
      &:not(:last-child) {
        padding-right: 1.25rem;
        border-right: 0.0625rem solid rgba($color: $brandColor, $alpha: 0.2);
      }
      .col-heading {
        font-weight: 500;
        margin-bottom: 0.625rem;
      }
    }
    .select {
      border: none;
      appearance: none;
      padding: 0.3125rem 0.625rem;
      &:focus {
        outline: none;
      }
    }
    .radio-label {
      width: 100%;
      justify-content: space-between;
      display: flex;
      align-items: center;
      gap: 0.625rem;
      font-size: 0.8125rem;
      cursor: pointer;
      filter: hue-rotate(180deg);
      .col-heading {
        margin: 0;
      }
      input {
        margin: 0;
      }
    }
  }
}

.dropdown {
  width: 100vw;
  max-width: 12.5rem;
  position: relative;
  .md {
    position: absolute;
    right: 0.3125rem;
    top: calc(50% - 0.625rem);
    width: 1.25rem;
    height: 1.25rem;
    transition: transform 0.13s;
    color: $brandColor;
    z-index: 2;
  }
  &__button {
    z-index: 3;
    &:focus {
      outline: 0.0625rem solid $brandColor;
    }
    position: relative;
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: #444444;
    width: 100%;
    text-align: left;
    background: transparent;
    border: 0.0625rem solid #e6eaed;
    border-radius: 0.25rem;
    height: 3.125rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 0.9375rem;
    padding-right: 2.5rem;
    transition: outline 0.13s ease;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0.9375rem;
      transform: translateY(-50%);
      width: 0.9375rem;
      height: 0.9375rem;
      background: url("../img/dropdown.svg") 100% 100%;
      pointer-events: none;
      transition: 200ms ease;
    }
    &_active {
      &::after {
        transform: translateY(-50%) rotate(-180deg);
      }
    }
  }
  &__list {
    z-index: 3;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    left: 0;
    top: 3.125rem;
    box-shadow: 0rem 0.625rem 1.25rem 0rem #88919d4d;
    border: 0.0625rem solid #e6eaed;
    border-radius: 0.25rem;
    background: #ffffff;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 200ms ease;
    &_visible {
      opacity: 1;
      z-index: 999;

      background-color: #fff;
      visibility: visible;
      & + input + .md {
        transform: rotate(180deg);
      }
    }
    &-item {
      margin: 0;
      padding: 0;
      padding: 0.9375rem;
      cursor: pointer;
      font-size: 0.75rem;
      line-height: 1.125rem;
      color: #444444;
      transition: 200ms ease;
      &_active {
        background: #f5f8fa;
      }
      &:hover {
        background: #f5f8fa90;
      }
    }
  }
  &__input {
    &_hidden {
      display: none;
    }
  }
}

.results {
  width: 100%;
  max-width: 38.75rem;
  background-color: #fff;
  z-index: 33;
  border-radius: 0.9375rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-heading {
    font-weight: 500;
    margin-bottom: 0.625rem;
  }
  &-list {
    width: 100%;
    display: flex;
    gap: 0.625rem;
    flex-direction: column;
    align-items: flex-start;
    .result-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.3125rem 0rem;
      border-bottom: 0.0625rem solid #121212;
      position: relative;
      .question-icon {
        position: absolute;
        right: 0;
        top: 0;
        .help-icon {
          * {
            width: 0.9375rem;
            height: 0.9375rem;
          }
        }
        &:hover .popup-question {
          display: block;
        }
        .md {
          width: 0.9375rem;
          height: 0.9375rem;
        }
      }
      .popup-question {
        display: none;
        position: absolute;
        background-color: rgba($color: $brandColor, $alpha: 0);
        padding: 0.625rem;
        font-weight: bold;
        border-radius: 1.25rem;
        font-size: 0.75rem;
        backdrop-filter: blur(2.5rem);
        left: 0;
        @media (max-width: 768px) {
          left: -103px;
          top: -31px;
        }
      }
      .result-content {
        display: flex;
        align-items: center;
        gap: 0.625rem;
        font-size: 0.875rem;
        font-weight: 500;
        margin-right: auto;
        .rank {
          color: $brandColor;
          width: 1.5625rem;
          height: 1.5625rem;
          padding: 0.625rem;

          background-color: #fff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          outline: 0.0625rem solid $brandColor;
        }
        .price {
          font-weight: 600;
          color: $brandColor;
        }
        .date {
          border-right: 0.0625rem solid $brandColor;
          border-left: 0.0625rem solid $brandColor;
          padding: 0rem 0.625rem;
        }
      }
      .results-btn {
        width: 100%;
        margin-top: 0.625rem;
        margin-bottom: 0.625rem;
        border: none;
        padding: 0.3125rem 0.9375rem;
        border-radius: 0.625rem;
        color: #131213;
        transition: transform 0.13s, color 0.13s, background-color 0.13s;
        outline: 0.0625rem solid $yellow;
        background-color: #fff;
        cursor: pointer;
        text-align: center;
        @media (max-width: 465px) {
          padding: 0.8rem 0.9rem;
        }
        &:hover {
          color: #121212;
          background-color: $yellow;
          outline: none;
        }
        &:focus {
          outline: 0.0625rem solid black;
        }
        &:active {
          transform: translateY(0.125rem);
        }
      }
    }
  }
}

.hidden {
  display: none;
}

.subheading {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: 700;
}

// Offers

@import "./pages/main/offers.scss";

// Special

@import "./pages/main/special";

// About

@import "./pages/main/about";

// Footer

@import "./ui/footer";

.newsletter-form {
  display: flex;
  height: 2rem;
  align-items: center;
  background-color: rgb(255, 255, 255);
  // padding: .9375rem;
  overflow: hidden;
  border-radius: 0.9375rem;
  input {
    background: none;
    border: none;
    padding-left: 1.25rem;
    font-weight: 500;
    font-size: 0.75rem;
    &:focus {
      outline: none;
    }
  }
  button {
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    background: $yellow;
    transition: transform 0.13s;
    cursor: pointer;
    &:active {
      transform: scale(0.95);
    }
    .md {
      width: 1.25rem;
      height: 1.25rem;
      color: #fff;
    }
  }
}

// Sign In Page

@import "./sign-in.scss";

// Cabinet

@import "./pages/cabinet/cabinet";

// Spinner

@import "./ui/spinner";

// Media

@media (max-width: 1280px) {
  .promo {
    .wrapper {
      flex-direction: column;
    }
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 11px;
  }
}

@media (max-width: 465px) {
  .calculator {
    .calculator-form {
      width: 100%;
      .row {
        gap: 2rem;
      }
      .row:first-child {
        width: 100%;
        flex-wrap: wrap;
      }
      .col {
        width: 100%;
        .dropdown {
          width: 100%;
          max-width: 100%;
        }
      }
      // .col:not(:last-child) {
      //   width: 48%;
      // }
      // .col:last-child {
      //   width: 100%;
      // }
      .dropdown {
        width: 100%;
      }
    }
  }
}
